body {background-color: #e2e2e2;}
.small-text {font-size: 0.9em;}
.big-text {font-size: 1.1em;}
.grey {/*color:#7e7e7e;*//*color:#685f62;*//*color:#222222;*/}
.purple {color:#f0572e;}
.thin-font {font-weight: 100;}
.italic {font-style: italic;}
.time {font-style: italic;font-weight: 100;color:#939393;}
/* ----------------------------------------------------------------------------------------- */
#outer-container {/*width:66.5em;*/width:72.25em;margin: 0 auto;}
/*#outer-container:after {content: " ";display: block; height: 0; clear: both;}*/
/*@media (max-width: 50em) {#main-content {display: none;}*/
#main-container {background-color: white;margin:0 2em;box-shadow: 0 0 1em #BBBBBB;}
.inner-container {padding:0.7em 2em;}
/* ----------------------------------------------------------------------------------------- */
#header-top {display: block;position: relative;}
#logo-image-container {display: table-cell;}
#logo-image-container img {width: 5.5em;height: 5.5em;display: block;}
/* ----------------------------------------------------------------------------------------- */
#logo-text-container {display: table-cell;vertical-align: middle;}
#logo-text-container .bubble {margin-left:2.1em;}
#calculator-title {margin-bottom: 0.3em;/* margin-bottom: 0.2em;*/font-size: 1.8em;}
#tag-line {font-weight: 100;font-size: 1.2em;/*margin-bottom: 0.7em;*/}
#powered-by-mes {font-weight: 100;font-size: 0.8em;}
/* ----------------------------------------------------------------------------------------- */
#social-media-links {position: absolute;right:0;top:0;}
#social-media-links table {/*border-spacing: 0.65em;*/border-collapse: separate;}
#social-media-links table tr td:not(:last-child) {border-right:1em solid transparent;}
.social-media-button {width:2em;height:2em;}
#social-media-links table tr td img {display: block;}
/* ----------------------------------------------------------------------------------------- */
#header-top .addthis_native_toolbox {position: absolute;right:0;bottom:0;}
.addthis_button_facebook_share {margin-right: 0.5em !important;}

.addthis_button_tweet {width: 5em !important;margin-right: 0.6em !important;height:1.25em !important;}
.addthis_button_google_plusone {width: 4em !important;margin-right: 1em !important;height:1.25em !important;}
/* ----------------------------------------------------------------------------------------- */
.line {margin:1em 0;width:100%;height:0.13em;background-color: #e1e1e1;display: none;}
/* ----------------------------------------------------------------------------------------- */
#navbar {text-align: left;background-color: #f0572e;display: inline-block;margin-left: -2em;
	padding-left: 1.1em;box-shadow: 0.2em 0.2em 0.5em #999999;margin-top: 0.7em;margin-bottom: 0.7em;}
/* sets active tabs background-color and text-color */
#navbar .active-tab > a {background-color: #fac3b9;color:#222222;}
/* removes padding from li */
#navbar>ul>li {float:left;}
/* makes li stack horizontally */
#navbar li {display: inline-block;}
/* modifies text inside li */
#navbar li a {display: block; /* allows padding for a */text-align: center;padding:0.7em 1em 0.7em 1em;
	color:white;font-weight: 100;font-size: 0.9em;}
/* on li hover, changes text-color of only main li's and not child li's */
#navbar li:hover > a {background-color: #fac3b9;color: #222222;}
/* modifies li's child ul's */
#navbar li ul {background-color: #f0572e;display: none; /* initially hides ul */
	position: absolute; /* removes giant margin/padding from each li */;}
/* modify li's child li's */
#navbar li li {display: block; /* makes li's stack vertically */min-width: 12em;}
/* aligns li's child li's text to the left */
#navbar li li a {text-align: left;}
/* on li hover, the li's child ul (if applicable) is displayed */
#navbar li:hover ul {display: block;z-index: 1;}
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
#latest-article {margin-top:1em;padding:0.5em;text-align: center;box-shadow: 0 0 1em #BBBBBB;}
#latest-article p:first-child {margin-bottom:0.5em;line-height: normal;}
#latest-article img {vertical-align: bottom;margin-bottom:0.5em;}
#latest-article p:last-child {text-align: left;}
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
#page-content {float:left;width:45.5em;}
#inner-content {padding:1.2em 2.2em 0 0;}
/* ----------------------------------------------------------------------------------------- */
.color-box {width:1.2em;height:1.2em;background-color:#f0572e;display:inline-block;margin-right:0.5em;}
#page-title-small {display: inline-block;font-size: 1.5em;font-weight: 100;}
.small-line {margin-top:0.3em;margin-bottom: 1em;width:100%;height:0.15em;background-color: #e1e1e1;display: none;}
#page-description {line-height: normal;font-weight: 100;margin:0.5em 0 1.2em 0;}
/* ----------------------------------------------------------------------------------------- */
#main-content {margin-top: 0.5em;margin-bottom: 0.5em;position: relative;}
#main-content .addthis_native_toolbox {margin-bottom:0.8em;}
.addthis_native_toolbox {height:1.25em;}
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
#footer {width:100%;background-color:#f0572e;margin-top:5em;display:inline-block;}
#footer .footer-container {padding:2em;}

#footer a, #footer span {color:white;font-weight: 100;line-height: 1.5;}
#footer a:hover {text-decoration: underline;}
#footer #products-container {display: table;width: 100%;margin-bottom:1.6em;}
#footer .products {display: table-cell;}
#footer .products:nth-child(3), #footer .products:last-child {padding-left:2.5em;}
#footer .products-title {display: inline-block;margin-bottom:1.6em;font-size: 1.3em;font-style: italic;}
#footer .extra-info {/*position: absolute;right: 0;*/float:right;}







.main-header{
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}

.convert-form{
	overflow:auto;
	padding-top:30px;
	padding-bottom:30px;
}

.convert-result{
	display:none;
	width:80%;
	margin-left:auto;
	margin-right:auto;

}
.btn-download{
	width:45%;
	height:75px;
	float:left;
	font-size:25px;
	margin-top:30px;
}

.btn-another{
width:45%;
	height:75px;
	margin-left:10%;
	float:left;
	font-size:25px;
	margin-top:30px;
}
.main-header-complete{
	display:none;
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}
.overlay{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: rgba(255,255,255,0.8);
	z-index:99;
	opacity:0;
	display:none;
}

.show-file-name{
	font-weight:bold;
	width:100%;
	font-size:23px;
	}
.show-file-type{
	display:none;
	opacity:0;
}
.upload-button{
	width:85%;
	height:50px;
	display:block;
	
}
.center{
	text-align: center
}

.top-margin{
	margin-top:30px;
}

.small-top-margin{
	margin-top:10px;
}
.filetype-choose{

}
.quality-bitrate{

}

.convert-button{
	width:80%;
	display:block;
	height:50px;
	
}

.container{
	width:600px !important;
}