.main-header{
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}

.convert-form{
	overflow:hidden;
	padding-top:0px;
	padding-bottom:30px;
}

.convert-result{
	display:none;
	width:80%;
	margin-left:auto;
	margin-right:auto;

}
.btn-download{
	width:45%;
	height:75px;
	float:left;
	font-size:25px;
	margin-top:30px;
}

.btn-another{
width:45%;
	height:75px;
	margin-left:10%;
	float:left;
	font-size:25px;
	margin-top:30px;
}
.main-header-complete{
	display:none;
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}
.overlay{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: rgba(255,255,255,0.8);
	z-index:99;
	opacity:0;
	display:none;
}

.show-file-name{
	font-weight:bold;
	width:100%;
	font-size:15px;
	text-align: left;
	word-wrap: break-word;
	}
.show-file-type{
	display:none;
	opacity:0;
}
.upload-button{
	width:85%;
	height:50px;
	display:block;
	
}
.center{
	text-align: center
}

.top-margin{
	margin-top:30px;
}

.small-top-margin{
	margin-top:10px;
}
.filetype-choose{

}
.quality-bitrate{

}

.convert-button{
	width:100%;
	display:block;
	height:50px;
	
}
body{
	font-size:16px !important;
}

.container{
	width:600px !important;
	margin-bottom: 40px;
}
.col-lg-4{
	width:33% !important;
}
.btn-another{
font-size:16px;
}
.btn-download{
font-size:16px;
}
.quality-selector-btn{
	font-size:13px;
}