<!DOCTYPE html>
<html>
    <head>
        <title>MP3 Converter | Math Easy Solutions</title>
        <link rel="icon" type="image/png" href="">
        <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}css/css-reset.css'/>
    
        <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}css/page-content.css'/>
        <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
     <link href="{{STATIC_URL}}css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{STATIC_URL}}css/landing-page.css" rel="stylesheet">
     <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
     <link href="{{STATIC_URL}}css/page-content.css" rel="stylesheet">
    <!-- Custom Fonts -->

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="apple-touch-icon" sizes="57x57" href="{{STATIC_URL}}favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{STATIC_URL}}favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{STATIC_URL}}favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{STATIC_URL}}favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{STATIC_URL}}favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{STATIC_URL}}favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{STATIC_URL}}favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{STATIC_URL}}favicon/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="{{STATIC_URL}}favicon/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="{{STATIC_URL}}favicon/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="{{STATIC_URL}}favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{STATIC_URL}}favicon/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="{{STATIC_URL}}favicon/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">

<meta property="fb:app_id" content="691621990931633">
<meta property="og:type" content="website">
<meta property="og:url" content="http://mp3converter.fm">
<meta property="og:title" content="MP3 Converter by Math Easy Solutions">
<meta property="og:image" content="http://finalexamcalculator.com/images/mp3-converter-icon.png">
<meta property="og:description" content="Convert MP3 to wav, wav to MP3 and much more">
<meta name="description" content="Convert MP3 to wav, wav to MP3 and much more">
<meta name="keywords" content="MP3 Calculator, mp3 to wav, mp3 to m4a, mp3 to ogg, Math Easy Solutions">
        <!-- GOOGLE ANALYTICS CODE HERE -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-18189318-13', 'auto');
  ga('send', 'pageview');

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54517438-1', 'auto');
  ga('send', 'pageview');

</script>
    </head>

    <body>
        <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T4DT7B"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T4DT7B');</script>
<!-- End Google Tag Manager -->
        <!-- FACEBOOK SDK HERE -->

        <div id = "outer-container">
            <div id = "main-container">
                <div class = "inner-container">

                    <!-- HEADER -->
                    <div id="header">
                        <div id="header-top">
                            <div id="logo-container">
                                <div id="logo-image-container">
                                    <a href='/'>
                                        <img alt = "MP3 Converter by Math Easy Solutions" src = "http://finalexamcalculator.com/images/mp3-converter-icon.png" >
                                    </a>
                                </div>

                                <div id="logo-text-container">
                                    <div class="bubble">
                                        <a href='/'>
                                            <p id="calculator-title">MP3 Converter</p>
                                        </a>
                                        <p id="tag-line">Convert MP3 to wav, wav to MP3 and much more</p>
                                        <!--<p id="powered-by-mes">Powered by <a href='http://matheasysolutions.com'><span>Math Easy Solutions</span></a></p>-->
                                    </div>
                                </div>
                            </div>

                            <div id="social-media-container">
                                <div id="social-media-links">
                                    <table>
                                        <tr>
                                            <td><a href="http://www.facebook.com/MP3ConverterMES" target="_blank">
                                                <img src="http://finalexamcalculator.com/images/facebook-icon.png" alt="facebook icon" class="social-media-button"></a></td>
                                            <td><a href="https://twitter.com/mp3converter_" target="_blank">
                                                <img src="http://finalexamcalculator.com/images/twitter-icon.png" alt="twitter icon" class="social-media-button"></a></td>
                                            <td><a href="http://www.google.com/+Mp3converterFmMES" rel="publisher" target="_blank">
                                                <img src="http://finalexamcalculator.com/images/google-plus-icon.png" alt="google plus icon" class="social-media-button"></a></td>
                                        </tr>               
                                    </table>
                                </div>

                                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                <div class="addthis_native_toolbox" data-url="http://mp3converter.fm" data-title="MP3 Converter by Math Easy Solutions"></div>
                            </div>
                        </div>


                        <div class="line"></div>

                        <div id="navbar">
                            <ul>
                                <li class="calc-tab"><a href='/'>MP3 Converter</a></li>
                                <li class="tutorial-tab" style = "display:none"><a href='#'>Video Tutorial</a></li>
                                <li class="other-calcs-tab"><a href="http://matheasysolutions.com/calculators/">Calculators</a>
                                    <ul>
                                        <li id="bmi-tab"><a href='http://bmicalculator.cc'>BMI Calculator</a></li>
                                        <li id="fec-tab"><a href='http://finalexamcalculator.com'>Final Grade Calculator</a></li>
                                        <li id="gpa-tab"><a href='http://gpacalculator.cc'>GPA Calculator</a></li>
                                        <li id="grade-tab"><a href='http://grade-calculator.com'>Grade Calculator</a></li>
                                        <li id="inflation-tab"><a href="http://inflation-calculator.com">Inflation Calculator</a></li>
                                        <li id="pc-tab"><a href='http://percentcalculator.com'>Percentage Calculator</a></li>
                                        <li id="vat-tab"><a href='http://vatcalculator.co'>VAT Calculator</a></li>
                                    </ul>
                                </li>       
                                <li><a class="mes-tab" href='http://matheasysolutions.com'>Math Easy Solutions</a>
                                    <ul class="hover">
                                        <li><a href='http://matheasysolutions.com/calculators'>More Calculators</a></li>
                                        <li><a href='http://matheasysolutions.com/mobile-apps'>Mobile Apps</a></li>
                                        <li><a href='http://matheasysolutions.com/videos'>Math Tutorials</a></li>
                                        <li><a href='http://matheasysolutions.com/memes'>Math Memes</a></li>
                                        <li><a href='http://matheasysolutions.com/partners'>Partners</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                 

                    <!-- ACTUAL PAGE CONTENT -->

                    <div id = "page-content">
                        <div id="inner-content">
                                       

                <p>
                This Privacy Policy governs the manner in which MP3 Converter collects, uses, maintains and
                discloses information collected from users (each, a "User") of the mp3converter.fm website
                ("Site"). This privacy policy applies to the Site and all products and services offered by MP3
                Converter.
                </p>

                <h2 class="mini-title">Personal identification information</h2>
                
                <p>
                We may collect personal identification information from Users in a variety of ways, including, but
                not limited to, when Users visit our site, register on the site, place an order, subscribe to the
                newsletter, respond to a survey, fill out a form, and in connection with other activities, services,
                features or resources we make available on our Site. Users may be asked for, as appropriate, name,
                email address. Users may, however, visit our Site anonymously. We will collect personal
                identification information from Users only if they voluntarily submit such information to us. Users
                can always refuse to supply personally identification information, except that it may prevent them
                from engaging in certain Site related activities.
                </p>
                
                <h2 class="mini-title">Non-personal identification information</h2>
                
                <p>
                We may collect non-personal identification information about Users whenever they interact with our
                Site. Non-personal identification information may include the browser name, the type of computer and
                technical information about Users means of connection to our Site, such as the operating system and
                the Internet service providers utilized and other similar information.
                </p>
                
                <h2 class="mini-title">Web browser cookies</h2>
                
                <p>
                Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their
                hard drive for record-keeping purposes and sometimes to track information about them. User may
                choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If
                they do so, note that some parts of the Site may not function properly.
                </p>
                
                <h2 class="mini-title">How we use collected information</h2>
                
                <p>
                MP3 Converter may collect and use Users personal information for the following purposes:
                </p>
                
                <p class="italic">
                - To improve customer service
                </p>
                <p class="small-margin">Information you provide helps us respond to your customer service requests and support needs more efficiently. 
                </p><p class="italic">- To personalize user experience</p>
                <p class="small-margin">We may use information in the aggregate to understand how our Users as a group use the services and resources
                provided on our Site. </p>
                <p class="italic">- To improve our Site</p>
                <p class="small-margin">We may use feedback you provide to improve our products and services.</p>
                <p class="italic">- To process payments</p>
                <p class="small-margin">We may use the information Users provide about themselves when placing an order only to provide 
                service to that order. We do not share this information with outside parties except to the extent 
                necessary to provide the service.</p>
                <p class="italic">- To run a promotion, contest, survey or other Site feature</p>
                <p class="small-margin">To send Users information they agreed to receive about topics we think will be of interest to them.
                </p><p class="italic">- To send periodic emails</p>
                <p class="small-margin">We may use the email address to send User information and updates 
                pertaining to their order. It may also be used to respond to their inquiries, questions, 
                and/or other requests. If User decides to opt-in to our mailing list, they will receive 
                emails that may include company news, updates, related product or service information, etc.
                If at any time the User would like to unsubscribe from receiving future emails, 
                we include detailed unsubscribe instructions at the bottom of each email or 
                User may contact us via our Site.
                </p>
                
                <h2 class="mini-title">How we protect your information</h2>
                
                <p>
                We adopt appropriate data collection, storage and processing practices and security measures to
                protect against unauthorized access, alteration, disclosure or destruction of your personal
                information, username, password, transaction information and data stored on our Site.
                </p>
                
                <h2 class="mini-title">Sharing your personal information</h2>
                
                <p>
                We do not sell, trade, or rent Users personal identification information to others. We may share
                generic aggregated demographic information not linked to any personal identification information
                regarding visitors and users with our business partners, trusted affiliates and advertisers for the
                purposes outlined above.
                </p>
                
                <h2 class="mini-title">Third party websites</h2>
                
                <p>
                Users may find advertising or other content on our Site that link to the sites and services of our
                partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the
                content or links that appear on these sites and are not responsible for the practices employed by
                websites linked to or from our Site. In addition, these sites or services, including their content
                and links, may be constantly changing. These sites and services may have their own privacy policies
                and customer service policies. Browsing and interaction on any other website, including websites
                which have a link to our Site, is subject to that website's own terms and policies.
                </p>
                
                <h2 class="mini-title">Advertising</h2>
                
                <p>
                Ads appearing on our site may be delivered to Users by advertising partners, who may set cookies.
                These cookies allow the ad server to recognize your computer each time they send you an online
                advertisement to compile non personal identification information about you or others who use your
                computer. This information allows ad networks to, among other things, deliver targeted
                advertisements that they believe will be of most interest to you. This privacy policy does not cover
                the use of cookies by any advertisers.
                </p>
                
                <h2 class="mini-title">Google Adsense</h2>
                
                <p>
                Some of the ads may be served by Google. Google's use of the DART cookie enables it to serve ads to
                Users based on their visit to our Site and other sites on the Internet. DART uses "non personally
                identifiable information" and does NOT track personal information about you, such as your name,
                email address, physical address, etc. You may opt out of the use of the DART cookie by visiting the
                Google ad and content network privacy policy at http://www.google.com/privacy_ads.html
                </p>
                
                <h2 class="mini-title">Changes to this privacy policy</h2>
                
                <p>
                MP3 Converter has the discretion to update this privacy policy at any time. When we do, we will
                revise the updated date at the bottom of this page. We encourage Users to frequently check this page
                for any changes to stay informed about how we are helping to protect the personal information we
                collect. You acknowledge and agree that it is your responsibility to review this privacy policy
                periodically and become aware of modifications.
                </p>
                
                <h2 class="mini-title">Your acceptance of these terms</h2>
                
                <p>
                By using this Site, you signify your acceptance of this policy. If you do not agree to this policy,
                please do not use our Site. Your continued use of the Site following the posting of changes to this
                policy will be deemed your acceptance of those changes.
                </p>
                
                <h2 class="mini-title">Contacting us</h2>
                
                <p>
                If you have any questions about this Privacy Policy, the practices of this site, or your dealings
                with this site, please contact us at: contact@mes.fm
                </p>
                
                <p>
                This document was last updated on November 26, 2014
                </p>

                <p class="generated-by">
                Privacy policy created by http://www.generateprivacypolicy.com
                </p>
              

                         </div>
        <!-- /.container -->

<!-- MP3 336x280 -->
     


                     </div>




                            <div class="fb-comments" data-href="http://mp3converter.fm/privacy-policy" data-width="100%" data-numposts="10" data-colorscheme="light" data-order-by="reverse_time"></div>
                        </div>

               

                </div>


                <!-- FOOTER -->

                <div id="footer">
                   <div class="footer-container">

        <div id="products-container">
            <div class="products">
                <a href="http://matheasysolutions.com/calculators/" class="products-title">Calculators</a>
                <ul class="products-list">
                    <li><a href="http://bmicalculator.cc">BMI Calculator</a></li>
                    <li><a href="http://finalexamcalculator.com">Final Grade Calculator</a></li>
                    <li><a href="http://gpacalculator.cc">GPA Calculator</a></li>
                    <li><a href="http://grade-calculator.com">Grade Calculator</a></li>
                    <li><a href="http://inflation-calculator.com">Inflation Calculator</a></li>
                    <li><a href="http://percentcalculator.com">Percentage Calculator</a></li>
                    <li><a href="http://vatcalculator.co">VAT Calculator</a></li>
                    <li><a href="http://finalexamcalculator.com.br">Calculadora Nota Final</a></li>
                </ul>
            </div>

            <div class="products">
                <a href="http://matheasysolutions.com/mp3-converters/" class="products-title">MP3 Converters</a>
                <ul class="products-list">
                    <li><a href="http://mp3converter.fm">MP3 Converter</a></li>
                </ul>
            </div>

            <div class="products">
                <a href="http://matheasysolutions.com/mobile-apps/" class="products-title">Mobile Apps</a>
                <ul class="products-list">
                    <li><a href="https://itunes.apple.com/ca/app/fail-safe-final-exam-calculator/id673084580">Final Grade Calculator (iPhone)</a></li>
                    <li><a href="http://matheasysolutions.com/mobile-apps/hashtag-everything/">Hashtag Everything</a></li>
                    <li><a href="http://dogebounce.com">Doge Bounce (iPhone)</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.dogetile.android">Doge Tile (Android)</a></li>
                </ul>
            </div>

            <div class="products">
                <a href="http://matheasysolutions.com/partners/" class="products-title">Partners</a>
                <ul class="products-list">
                    <li><a href="http://chinchatcomics.com/" title="Chinchilla Comics Galore">Chin Chat Comics</a></li>
                </ul>
            </div>
        </div>


        <span>
            <a href="mailto:math.easy.solutions@gmail.com">Contact Us</a> | <a href="/privacy-policy">Privacy Policy</a> | <a href="http://matheasysolutions.com/donate">Donate</a>
        </span>
        <span class="extra-info">Copyright © 2014 <a href="http://matheasysolutions.com">Math Easy Solutions</a></span>

    </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <script>$("#navbar .calc-tab").addClass("active-tab");</script>


    <!-- Bootstrap Core JavaScript -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
     <script src="{{STATIC_URL}}js/main.js"></script>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53b7585d09d9e0bd"></script>
        <script>  
window.fbAsyncInit = function() {
    FB.init({
        appId      : '691621990931633',
        status     : true,
        xfbml      : true
    });

    /*// In your onload method
    FB.Event.subscribe('comment.create', function(response) {
        $(document).load('sendEmail.php?id='+location.pathname);
    });*/
};

(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
    </body>
</html>